* {
    font-size: .8rem;
}

html {
    height: 100vh;
}

body {
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    background-color: black;
}

#days-view {
    color: #fff;
    white-space: nowrap;
}

.btn-primary {
    background-color: #0d6efd99 !important;
}

.btn-danger {
    background-color: #dc354599 !important;
}

.btn-success {
    background-color: #19875499 !important;
}

.btn-light {
    background-color: #f8f9fa99 !important;
}

.btn:focus {
    box-shadow: none;
}

#paypal-form {
    text-align: center;
    margin: 20px;
}

#sections-container #section-top {
    padding-top: 3.5rem;
    display: flex;
     height: 70vh;
}

#sections-container #section-bottom {
    display: flex;
     height: 30vh;
}

.bg_gods {
    background: url('images/bg_gods.jpg') top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg_home {
    background: url('images/bg_home.jpg') top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg_cult {
    background: url('images/bg_cult.jpg') top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg_forest {
    background: url('images/bg_forest.webp') top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg_town {
    background: url('images/bg_town.jpg') top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg_help {
    background: url('images/bg_help.jpg') top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.block {
    background: rgba(70, 70, 70, .8) !important;
    width: 100%;
    overflow-y: scroll;
}

.block h1 {
    color: aliceblue;
}

.block h5 {
    color: aliceblue;
}

.block p {
    color: aliceblue;
}

.block table {
    color: aliceblue;
}

.block table td.fitwidth {
    width: 1px;
    white-space: nowrap;
}

.log {
    overflow-y: scroll;
    background: rgba(70, 70, 70, .8) !important;
    width: 100%;
}

.log small {
    color: aliceblue !important;
    display: block !important;
}

.log .log-blue {
    color:#a9a9ff !important;
}

.log .log-red {
    color:#ffa9a9 !important;
}

.log .log-green {
    color:#a9ffa9 !important;
}

.log .log-gray {
    color:#a9a9a9 !important;
}