body {
    padding-top: 4.5rem;
    font-family: 'Roboto Mono', monospace;
    background-image: url('images/bg_woods.png');
}

.block{
    background: rgba(70, 70, 70, .8) !important;
}

.block h1{
    color: aliceblue;
}

.block p{
    color: aliceblue;
}